<div class="row">
	<main class="col-md-12">



		<!-- Start your code here -->

		<h1><br><br>Welcome to the About Page</h1>
		<h2>About Me</h2>
		<p>My name is Mukul Nagpal, Student ID: 147813232, and I am enrolled in the WEB700 program. Currently I am
			working as a Sales Associate at The Home Depot.I am passionate about web development and enjoy learning new
			technologies.</p>
		<!-- End your code here -->



	</main>
</div>